<template>
    <div class="">
        <h1 class="title">Ici s'affiche les équipes qui ont terminé le rallye,
            les équipes n'ayant pas fini sont visibles dans la page carte.</h1>
        <Card v-for="(team, index) in endedTeams" :key="team.id" :team="team" :index="index" :sites="sites"> </Card>
    </div>
</template>

<script>
    import Card from './LeaderboardCard';

    export default {
        name: "Leaderboard",
        components: {
            Card
        },
        props: {
            teams: Array,
            sites: Array,
            bTeamsSynced: Boolean
        },
        data: function() {
            return {
                endedTeams: []
            }
        },
        watch: {
            bTeamsSynced: function(val) {
                if (val) {
                    this.initEndedTeams();
                }
            },
            teams: function(val) {
                if (this.bTeamsSynced) {
                    this.initEndedTeams();
                }
            }
        },
        methods: {
            sortTeams(teams) {
                teams.sort((a, b) => a.totalTime  - b.totalTime);

                return teams;
            },
            getAllPenalty(team) {
                const questionPenalty = this.$store.state.options.question_penalty;
                const sitePenalty = this.$store.state.options.site_penalty;

                let penaltys = 0;

                if (team.sites !== undefined) {
                    team.sites.forEach((sitesTeam) => {
                        penaltys += questionPenalty * sitesTeam.wrongAnswers;
                    });
                }

                if (this.sites.length > 0) {
                    penaltys += sitePenalty * (this.sites.length - (team.sites === undefined ? 0 : team.sites.length));
                }

                return penaltys;
            },
            getTotDuration(team) {
                let duration = this.$moment.duration(this.$moment(team.finishTime.toDate()).diff(this.$moment(team.startTime.toDate())));

                duration.add(this.getAllPenalty(team), 'seconds');

                return duration.asMilliseconds();
            },
            onShow() {
                this.initEndedTeams();
            },
            initEndedTeams: function() {
                let endedTeams = [];

                this.teams.forEach((team) => {
                    let endedTeam = team;

                    if (endedTeam.finishTime !== undefined) {
                        endedTeam.totalTime = this.getTotDuration(endedTeam);
                        endedTeams.push(endedTeam);
                    }
                });

                endedTeams = this.sortTeams(endedTeams);

                this.endedTeams = endedTeams;
            },
        }
    }
</script>

<style scoped>
    .scrollable {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
</style>