<template>
    <div id="divLeaderboardCard" class="is-medium card content">
        <div id="header-expansion">
            <div class="columns fix-extremity-colomns">
                <div id="pos" class="column is-one-quarter left-thing">
                    <h3  class="title has-text-left">{{index + 1}}. &nbsp {{team.name}} &nbsp <font-awesome-icon :icon="['far', 'circle']" :style="{ color: team.colour }"/> </h3>
                </div>
                <div id="titleComponent" class="hero column is-one-third">
                    <div class="has-text-left">
                        <h3 class="title">{{ durationToString(baseDuration + penaltyDuration) }}</h3>
                    </div>
                </div>
                <div id="score" class="column">
                    <div class="columns">
                        <div class="column hero container-vertical-align">
                            <h3 class="title" :class="missedSites === 0 ? 'good' : 'bad'"><font-awesome-icon icon="map-pin"/></h3>
                            <h5 class="subtitle" :class="missedSites === 0 ? 'good' : 'bad'">{{ missedSites }}</h5>
                        </div>
                        <div class="column hero">
                            <h3 class="title" :class="wrongAnswers === 0 ? 'good' : 'bad'"><font-awesome-icon icon="question-circle"/></h3>
                            <h5 class="subtitle" :class="wrongAnswers === 0 ? 'good' : 'bad'">{{ wrongAnswers }}</h5>
                        </div>
                    </div>
                </div>
                <div class="column is-1 container-vertical-align expanded" v-on:click="isExpanded = !isExpanded">
                    <font-awesome-icon class="vertical-center" :icon="isExpanded ? 'angle-up' : 'angle-down'"/>
                </div>
            </div>
        </div>
        <div id="body-expansion" v-if="isExpanded">
            <div class="columns">
                <div class="column is-one-quarter">
                </div>
                <div class="hero column is-one-third">
                    <div class="has-text-left">
                        <h5 class="subtitle">Temps : {{ durationToString(baseDuration) }} <br/> Pénalité : {{ durationToString(penaltyDuration) }}</h5>
                    </div>
                </div>
                <div class="column">
                    <div v-for="(objVisited, index) in visitedSites" :key="index" :class="objVisited.isGood ? 'good' : 'bad'">{{objVisited.text}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LeaderboardCard",
        props: {
            team: Object,
            sites: Array,
            index: Number
        },
        data: function() {
            return {
                isExpanded: false
            }
        },
        methods: {
            durationToString(durationInSeconds) {
                const duration = this.$moment.duration(durationInSeconds);

                return this.$store.getters.toPadding(duration.hours())+":"+this.$store.getters.toPadding(duration.minutes())+":"+this.$store.getters.toPadding(duration.seconds());
            },
        },
        watch: {
        },
        computed: {
            visitedSites: function() {
                let arRes = [];

                this.sites.forEach((site) => {
                    let objVisited = {isGood : false, text : "Site "+site.title + " : "};

                    if (this.team.sites !== undefined) {
                        let siteTeam = this.team.sites.find((siteT) => siteTeam.id === siteT.id);
                        console.log(siteTeam);

                        if (siteTeam === undefined) {
                            objVisited.text += "Non visité";
                        } else {
                            objVisited.isGood = true;
                            objVisited.text += siteTeam.wrongAnswers;
                        }
                    } else {
                        objVisited.text += "Non visité";
                    }

                    arRes.push(objVisited);
                });

                return arRes;
            },
            baseDuration: function() {
                const duration = this.$moment.duration(this.$moment(this.team.finishTime.toDate()).diff(this.$moment(this.team.startTime.toDate())));

                return duration.asMilliseconds();
            },
            penaltyDuration: function() {
                const duration = this.$moment.duration(this.allPenalty, 'seconds');

                return duration.asMilliseconds();
            },
            missedSites: function() {
                if (this.sites !== undefined && this.sites.length > 0) {
                    return this.sites.length - (this.team.sites === undefined ? 0 : this.team.sites.length);
                } else {
                    return 0;
                }
            },
            allPenalty() {
                const questionPenalty = this.$store.state.options.question_penalty;
                const sitePenalty = this.$store.state.options.site_penalty;

                let penaltys = 0;

                penaltys += questionPenalty * this.wrongAnswers;

                penaltys += sitePenalty * this.missedSites;

                return penaltys;
            },
            wrongAnswers: function() {
                let wrongAnswers = 0;

                if (this.team.sites !== undefined) {
                    this.team.sites.forEach((sitesTeam) => {
                        wrongAnswers += sitesTeam.wrongAnswers;
                    });
                }

                return wrongAnswers;
            },
        }
    }
</script>

<style scoped>
    #pos {
        padding-left: 2%;
    }

    #divLeaderboardCard {
        transition: all .3s;
    }

    .bad {
        color: #de4142;
    }

    .good {
        color: #47de4a;
    }

    .container-vertical-align {
        position: relative;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .fix-extremity-colomns {
        margin-right: 0px;
        margin-left: 0px;
    }

    .expanded {
        cursor: pointer;
        font-size: 2rem;
    }

    .center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

</style>