<template>
	<div>
		<section class="columns">
			<div id="partieGauche" class="column is-half">
				<input type="text" class="input is-primary" placeholder="Nom du site" v-model="site.title" required>
				<div id="partieQRC" :class="isNew ? 'hide' : ''">
					<canvas id="qrcode"></canvas>
				</div>
				<div id="mapSite" class="map"></div>
			</div>
			<div id="partieDroite" class="column is-half scrollable">
				<button  class="button is-primary is-rounded is-large" @click="ajouterQuestion()"><font-awesome-icon icon="plus-circle"/></button>
				<div class="card pad" :questionary="question" v-for="(question, index) in site.questionnaire" :key="index">
					<font-awesome-icon class="toRight mousePointer" icon="trash" @click="supprimerQuestion(index)"/>
					<label class="label is-medium">La question {{index+1}}:</label>
					<site-quest-card :questionary="question"></site-quest-card>
				</div>
			</div>
		</section>
		<footer>
			<div class="buttons has-addons is-right">
				<button class="button" @click="retourSites">Annuler</button>
				<button class="button is-primary" @click="enregistrerQuestionnaire" :class="isNew ? 'hide' : ''">Enregistrer</button>
				<button class="button is-primary"  @click="ajouterQuestionnaire" :class="isNew ? '' : 'hide'">Ajouter</button>
			</div>
		</footer>
	</div>
</template>

<script>
    import QRCode from 'qrcode'
    import SiteQuestCard from './SiteQuesCard'
    import {db, app} from '../../../config/db'
    import { L } from 'vue2-leaflet';

    const LAT_GRENOBLE = 45.1666700;
    const LONG_GRENOBLE = 5.7166700;


    export default {
        name: "Site",
        props: {siteData: Object},
        components: {SiteQuestCard},
        data: function(){
            return{
                site: {
                    multiplier: 1,
                    questionnaire:[],
                    title: ''
                },
                isNew: true,
                marker: null,
                map: null,
                LAT_GRENOBLE: LAT_GRENOBLE,
                LONG_GRENOBLE: LONG_GRENOBLE,
            }
        },
        watch:{
            siteData: function(val){
                this.site = val;
                this.isNew = !val.hasOwnProperty("id");
                if(val.hasOwnProperty("id")) {
                    this.dessinerQRCode();
                }

                if (this.map !== undefined) {
                    this.map.panTo([this.LAT_GRENOBLE, this.LONG_GRENOBLE]);
                }

                if (this.marker !== null) {
                    this.map.removeLayer(this.marker);
                    this.marker = null;
                }

                if(this.site.location !== undefined) {
                    this.marker = L.marker([this.site.location.latitude, this.site.location.longitude]);
                    this.marker.addTo(this.map);
                    this.map.panTo([this.site.location.latitude, this.site.location.longitude]);
                }

                setTimeout(() => {
                    this.map.invalidateSize();
                }, 50);
            }
        },
        mounted:function(){
            this.initMap()
        },
        methods: {
            ajouterQuestion: function(){
                this.site.questionnaire.push({answers:[],goodAnswer:0,question:''});
            },
            supprimerQuestion: function(id){
                this.site.questionnaire.splice(id, 1);
            },
            retourSites: function(){
                this.$emit("retourSites");
            },
            ajouterQuestionnaire: function(){
                if(this.site.location == undefined || this.site.title == ''){
                    this.$store.commit("throwMessage", "Le nom ou le lieu du site doivent être indiqués.")
                }else{
                    db.collection("/sites").add(this.site).then((doc) => {
                        this.site.id = doc.id;
                        this.dessinerQRCode();
                        this.isNew = false;
                    });
                }

            },
            enregistrerQuestionnaire: function(){
                db.collection("/sites").doc(this.site.id).update(this.site);
                this.$emit("retourSites");
            },
            dessinerQRCode: function(){
                QRCode.toCanvas(document.getElementById('qrcode'), this.site.id, {width:"50%"}).then(err => {
                    if (err) {
                        //this.$store.commit("throwMessage", err)};
                    }
                });
            },
            initMap() {
                this.map = L.map("mapSite").setView([this.LAT_GRENOBLE, this.LONG_GRENOBLE], 13);
                
                this.map.on('click', (e) => {
                    if (this.marker !== null) {
                        this.map.removeLayer(this.marker);
                    }

                    this.marker = L.marker(e.latlng);

                    this.site.location = new app.firestore.GeoPoint(e.latlng.lat, e.latlng.lng);

                    this.marker.addTo(this.map);
                });
    
                this.tileLayer = L.tileLayer(
                    'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
                    {
                        maxZoom: 18,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>',
                    }
                );
                this.tileLayer.addTo(this.map);
            },
        }
    }
</script>

<style scoped>
#partieDroite{
    height: 700px;
}

#partieGauche{
    height: 700px;
}

.scrollable{
    overflow-y: auto;
}

#mapSite {
    height: 300px;
}

.map {
    z-index: 1;
}

.hide {
    display: none;
}
.pad{
    padding: 2%;
}
.toRight{
    float: right;
    display: inline;
    color: red;
}
.mousePointer{
    cursor: pointer;
}
</style>