<template>
    <div class="content">
        <!-- <label class="label is-medium" placeholder="Question">La question :</label> -->
        <input type="text" class="input is-primary" v-model="questionary.question">
        <br><br>
        <button class="button is-small is-primary" @click="ajouterReponse()">Ajouter une réponse</button>
        
        <div class="select">
            <select v-model="questionary.goodAnswer">
                <option v-for="(answer, indeks) in questionary.answers" :key="indeks"> {{ questionary.answers[indeks] }} </option>
            </select>
        </div>

        <div class="field is-horizontal" v-for="(answer, index) in questionary.answers" :key="index">
            <div class="field-label is-normal">
                <label class="label">La réponse {{ index+1 }} </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <input type="text" class="input is-primary" v-model="questionary.answers[index]"> 
                </div>
                <div class="field">
                    <font-awesome-icon class="toRight mousePointer" icon="times" @click="supprimerReponse(index)"/>
                </div>
            </div>
        </div>    

    </div>
</template>

<script>

    export default {
        name:"SiteQuesCard",
        props:{questionary: Object},
        methods:{
            ajouterReponse: function(){
                this.questionary.answers.push('');
            },
            supprimerReponse: function(id){
                this.questionary.answers.splice(id, 1);
            }
        }
    }
</script>

<style>
.toRight{
    display: inline;
    color: red;
}
.mousePointer{
    cursor:pointer;
}
</style>
