<template>
    <Slide>
        <span :id="view.id"
              v-for="view in $store.state.views" :key="view.id" class="rowList"
              @click="choiceView(view)"> <font-awesome-icon :icon="view.icon"/> &nbsp; {{view.title}} </span>
    </Slide>
</template>

<script>
    import { Slide } from 'vue-burger-menu';

    export default {
        name: "Menu",
        components: {
            Slide
        },
        methods: {
            choiceView: function (view) { // Methode lors de l'ajout dans le panier
                if(view.id === this.$store.state.ID_DISCONNECT) {
                    this.$emit('disconnect');
                } else {
                    this.$store.commit('changeTitle',view.title);
                    this.$emit('changeView',view); // Emission de l'evenement addCart, recupere au niveau du html App.vue
                }
            }
        },
        data: function () {
            return {
            }
        },
        computed: {
        }
    }
</script>

<style scoped>
    .rowList {
        height: 2%;
        width: 100%;
        transition: all 200ms ease-out;
        font-size: 22px;
        font-weight: bold;
        user-select: none;
    }

    .rowList:hover {
        background-color: rgba(143,143,143,0.39);
        transform: translateX(5px);
        font-size: 24px;
    }

    .bottomMenu {

    }
</style>