<template>
    <div id="snackbar" :class="showTimer > 0 ? 'show' : ''" v-html="message"></div>
</template>

<script>
    export default {
        name: "SnackBar",
        methods: {
            showToast: function() { // Methode pour faire apparaitre le message toast
                this.showTimer++;
                setTimeout(() => {
                    this.showTimer--;
                }, 3000);
            }
        },
        data: function() {
            return {
                message: "",
                showTimer: 0
            }
        },
        watch: {
            currentMessage: function (val) {
                if (val !== "") {
                    this.$store.commit('resetMessage');
                    this.message = val;
                    this.showToast(val);
                }
            },
        },
        computed: {
            currentMessage: function () {
                return this.$store.state.toast;
            }
        }
    }
</script>

<style scoped>
    #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
</style>