<template>
    <div id="titleComponent" class="hero">
        <div class="container center">
            <h1 class="title">Panneau de configuration rallye GCCD</h1>
            <h2 class="subtitle">{{ currentTitle }}</h2>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Title",
        data: function() {
            return {

            }
        },
        computed: {
            currentTitle: function() {
                return this.$store.state.title;
            }
        }
    }
</script>

<style scoped>
    #titleComponent {
        height: 11%;
    }

    .center {
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>