<template>
    <div class="container-item">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    {{ team.name }}
                </p>
                <p class="subtitle">
                    {{ team.teammates.length }} équipiers
                </p>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item is-medium" @click="editTeam(team)">Modifier</a>
                <a class="card-footer-item red is-medium" @click="deleteTeam(team)">Supprimer</a>
            </footer>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TeamInfoCard",
        props: {
            team: Object
        },
        methods: {
            editTeam(team) {
                this.$emit("editTeam", team);
            },
            deleteTeam(team) {
                this.$emit("deleteTeam", team);
            }
        }
    }
</script>

<style scoped>
    .team-card {
        max-width: 300px;
    }

    .red {
        color: red;
    }
</style>