<template>
    <div class="modal new-team is-active" :class="showModal ? '' : 'out'">
        <div class="modal-background" @click="closeModal"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><span v-if="team.hasOwnProperty('id')">Modifier</span><span v-else>Ajouter</span> une équipe</p>
                <button class="delete" aria-label="close" @click="closeModal"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <input type="text" class="input is-primary" placeholder="Nom de l'équipe" v-model="team.name"/>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="text" class="input is-primary" placeholder="Identifiant de connexion" v-model="team.login"/>
                        <span class="icon is-small is-left"><font-awesome-icon icon="user"/></span>
                    </div>
                    <div class="control has-icons-left">
                        <input type="password" class="input is-primary" placeholder="Mot de passe" v-model="team.password"/>
                        <span class="icon is-small is-left"><font-awesome-icon icon="unlock-alt"/></span>
                    </div>
                </div>
                <div class="field">
                    <h3 class="subtitle is-small">Couleur de l'équipe</h3>
                    <chrome-picker :value="team.colour" @input="changeColour" class="center"></chrome-picker>
                </div>
                <div class="field">
                    <div class="field">
                        <button class="button is-primary" @click="addTeammate">Ajouter un coéquipier</button>
                    </div>
                    <div class="field" v-for="(teammate, index) in team.teammates">
                        Coéquipier {{ index + 1 }}
                        <div class="columns">
                            <div class="column">
                                <input type="text" class="input is-primary" placeholder="Prénom" v-model="teammate.firstname"/>
                            </div>
                            <div class="column">
                                <input type="text" class="input is-primary" placeholder="Nom" v-model="teammate.lastname"/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="save">Enregistrer</button>
                <button class="button" @click="closeModal">Annuler</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import { Chrome } from 'vue-color';

    export default {
        name: "TeamEditCard",
        components: {
            "chrome-picker": Chrome
        },
        props: {
            selectedTeam: Object,
            showModal: Boolean
        },
        data: function() {
            return {
                team: {name: "", login: "", password: "", colour: "#000000", teammates: [{firstname: "", lastname: ""}]}
            }
        },
        methods: {
            closeModal() {
                this.$emit("closeModal");
            },
            save() {
                if(this.validData(this.team)) {
                    this.$emit("save", this.team);
                    this.closeModal();
                } else {
                    alert("Des données sont manquantes. Veuillez vérifier les données saisies, puis réessayer.");
                }
            },
            addTeammate() {
                this.team.teammates.push({firstname: "", lastname: ""});
            },
            validData(data) {
                console.log(data);
                if(data.login === "" || data.login === undefined || data.login === null ||
                    ((data.password === "" || data.password === undefined || data.password === null) && (data.id === undefined)) ||
                    data.name === "" || data.name === undefined || data.name === null ||
                    !/^#[0-9A-F]{6}$/i.test(data.colour))
                {
                    return false;
                }

                for (let index = 0; index < data.teammates.length; index++){
                    if(data.teammates[index].firstname === "" || data.teammates[index].firstname === undefined || data.teammates[index].firstname === null ||
                        data.teammates[index].lastname === "" || data.teammates[index].lastname === undefined || data.teammates[index].lastname === null)
                    {
                        return false;
                    }
                }
                return true;
            },
            changeColour(val) {
                this.team.colour = val.hex;
            }
        },
        watch: {
            selectedTeam: function (val) {
                this.team = val.hasOwnProperty("id") ? val : {name: "", login: "", password: "", colour: "#000000", teammates: [{firstname: "", lastname: ""}]}
            },
        }
    }
</script>

<style scoped>
    .new-team {
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }

    .out {
        transform: translateY(-100%) !important;
    }

    .center {
        margin: auto;
    }
</style>