<template>
	<div id="teams-page">
		<div id="container">
			<button class="button is-primary is-medium add" @click="showModal = true"><font-awesome-icon icon="plus-square"/>&nbspNouvelle équipe</button>
			<TeamInfoCard v-if="teams.length > 0" v-for="team in teams" :key="team.id" class="container-item" @editTeam="editTeam($event)" @deleteTeam="deleteTeam($event)" :team="team"/>
			<div v-else>
				<h1 class="title">Aucune équipe enregistrée...</h1>
			</div>
		</div>
        <TeamEditCard :selected-team="selectedTeam" :show-modal="showModal" @closeModal="closeModal" @save="saveTeam($event)"></TeamEditCard>
	</div>
</template>

<script>
	import TeamInfoCard from './TeamInfoCard';
	import TeamEditCard from './TeamEditCard';
	import { db, funct } from '../../config/db';

	export default {
		components: {
			TeamInfoCard,
			TeamEditCard
		},
		name: 'Team',
		props: {
			teams: Array,
			tokenCheck: Function
		},
        data: function () {
            return {
                showModal: false,
                selectedTeam: {}
            }
        },
        methods: {
		    editTeam(team) {
		        this.selectedTeam = team;
		        this.showModal = true;
            },
            closeModal() {
		        this.selectedTeam = {};
		        this.showModal = false;
            },
			deleteTeam(team) {
				if(this.tokenCheck) {
					if(confirm("Êtes-vous sûr(e) de vouloir supprimer l'équipe \"" + team.name + "\" ?\nCette action est irréversible.")) {
						return db.collection("/teams").doc(team.id).delete().then(() => {
							return db.collection("/passwords").doc(team.id).delete();
						})
						.then(() => {
							this.$store.commit("throwMessage", "Equipe supprimée.")
						});
					}
				}
			},
			saveTeam(team) {
		    	if(team.hasOwnProperty("id")) {
					db.collection("/teams").doc(team.id).update(team).then(() => {
						this.$store.commit("throwMessage", "Equipe mise à jour.")
					});
				} else {
					this.$store.commit("throwMessage", "Création de l'équipe...");
					funct.httpsCallable("createTeam")(team).then(() => {
						this.$store.commit("throwMessage", "Equipe créée.")
					});
				}
			}
        }
	}
</script>

<style scoped>
	.add {
		position: absolute;
		right: 10px;
		top: 10px;
	}


	#container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 15px;
		width: 85%;
		margin: auto;
	}

	.container-item {
		display: flex;
		flex-basis: 25%;
	}

	#teams-page {
		position: relative;
	}
</style>