<template>
    <div class="connect" @keyup.enter="connection">
        <div class="field">
            <div class="control has-icons-left">
                <input id="i_login" type="text" class="input is-primary" placeholder="Identifiant" v-model="sLogin"/>
                <span class="icon is-small is-left">
                <font-awesome-icon icon="user"/>
            </span>
            </div>
        </div>
        <div class="field">
            <div class="control has-icons-left">
                <input id="i_passwd" type="password" class="input is-primary" placeholder="Mot de passe" v-model="sPasswd"/>
                <span class="icon is-small is-left">
                <font-awesome-icon icon="unlock-alt"/>
            </span>
            </div>
        </div>
        <div class="field remember">
            <label for="i_remember" class="checkbox"><input id="i_remember" type="checkbox" v-model="bRememberMe"/>&nbsp Se souvenir de moi</label><br>
        </div>
        <div class="field">
            <button id="btn_connect" @click="connection" class="button is-primary" :class="isConnecting ? 'is-loading' : ''">Connexion</button>
        </div>
    </div>
</template>

<script>
    import { funct } from '../config/db.js';

    export default {
        name: "Connection",
        data: function () {
            return {
                sLogin: "",
                sPasswd: "",
                bRememberMe: false,
                isConnecting: false
            }
        },
        methods: {
            connection: function () {
                const login = funct.httpsCallable("adminLogin");
                this.isConnecting = true;

                login({login: this.sLogin, password: this.sPasswd}).then( (result) => {
                    if (result.data.success) {
                        this.$emit('connect', {user: this.sLogin, token: result.data.token, remember: this.bRememberMe});
                        this.sPasswd = "";
                    } else {
                        this.$store.commit('throwMessage', this.textError(result.data.error));
                    }
                    this.isConnecting = false;
                });
            },
            throwMessage: function(message) {
                this.$emit('message',message);
            },
            textError: function(codeError) {
                var text = "";

                switch (codeError) {
                    case 1:
                        text = "Mot de passe incorrect !";
                        break;

                    case 2:
                        text = "Identifiant incorrect !";
                        break;

                    case 5:
                        text = "Une erreur interne est survenue !";
                        break;

                    case 6:
                        text = "Une erreur interne à votre navigateur est survenue !";
                        break;

                    default:
                        text = "Erreur inconnue !";
                        break;
                }

                return text;
            }
        }
    }
</script>

<style scoped>
    .hide {
        display: none;
    }

    .img {
        position: absolute;
        bottom: 0;
        height: 36px;
        left: 50%;
        transform: translateX(-50%);
    }

    .connect {
        text-align: left;
        height: initial;
        margin: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .remember {
        text-align: center;
    }
</style>
