<template>
    <div id="card-content">
        <div class="field">
            <p class="has-icons-right">
                <span class="title mousePointer" @click="toSendData"> {{siteTitre}}</span>
                <span class="icon is-right is-large">
                    <font-awesome-icon class="toRight mousePointer" icon="trash" @click="supprimerSite"/>
                </span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SiteCard",
        props: {siteTitre: String},
        methods:{
            supprimerSite: function(){
                this.$emit("supprimerSite");
            },
            toSendData: function(){
                this.$emit("toSendData");
            }
        }
    }
    
</script>

<style scoped>
.toRight{
    display: inline;
    color: red;
}
.mousePointer{
    cursor:pointer;
}
#card-content:hover{
    background-color: lightgray;
}
</style>