<template>
    <div>
        <div id="Sites" :class="isSiteShow ? 'hide' : ''">
            <div id="zoneListe">
                <SitesCard class="card" @supprimerSite="supprimerSite(site)" @toSendData="toSendData(site)" v-for="site in listeSites" :key="site.id" :siteTitre="site.title"></SitesCard>
                
                <button class="button is-primary is-medium add" v-on:click="ajouterSite()"> <font-awesome-icon icon="plus-square"/>&nbspAjouter un site</button>
            </div>
        </div>
        <div id="Site" :class="isSiteShow ? '' : 'hide'" >
            <!-- <button class="button" v-on:click="retourSites()" id="boutonRetour">retour</button> -->
            <Site :site-data="currentSite" @retourSites="retourSites"></Site>
        </div>
    </div>
</template>

<script>
    import SitesCard from './SitesCard'
    import Site from './Site/Site'
    import {db, app} from '../../config/db'

    export default {
        name: "Sites",
        components: {SitesCard, Site},
        props:{listeSites: Array},
        data:function () {
            return {
                currentSite: { multiplier: 1, questionnaire:[], title: ''},
                isSiteShow: false
            }
        },
        methods:{
            ajouterSite: function(){
                this.currentSite = { multiplier: 1, questionnaire:[], title: ''}
                this.isSiteShow = true;
            },
            retourSites: function(){
                this.currentSite = { multiplier: 1, questionnaire:[], title: ''}
                this.isSiteShow = false;
            },
            toSendData: function(data){
                this.currentSite = data;
                this.isSiteShow = true;
            },
            supprimerSite: function(site){
                if(confirm("Êtes-vous sûr de vouloir supprimer "+site.title+" ?")){
                    db.collection("/sites").doc(site.id).delete().then(()=> {
                        this.$store.commit('throwMessage', site.title+" supprimé.");})
                }
            }
        }
    }
</script>

<style scoped>
#zoneListe{
    margin-top: 5%;
}
#zoneAjout{
    border-top-width: 2px;
    border-top-style: solid;
}
#items{
    align-items: baseline;
}
#boutonRetour{
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}	
.add {
    position: absolute;
    right: 50px;
    top: 120px;
}
</style>