<template>
    <div id="app">
        <div :class="isLoading ? '' : 'hide'" class="block-loading">
            <img class="big" src="./assets/loader-white.svg" alt="pluc"/>
        </div>
        <div id="header">
            <Menu :class="sToken === '' ? '' : ''" @changeView="changeView($event)" @disconnect="disconnect"></Menu>
            <Title></Title>
            <SnackBar ref="toast"></SnackBar>
        </div>
        <div id="components">
            <Team class="size-component" :class="currentView.id === this.$store.state.ID_TEAM ? '' : 'hide'" :teams="teams" :token-check="isConnected"></Team>
            <Connection class="size-component" :class="sToken === '' ? '' : 'hide'" @connect="connect($event)"
                        @message="throwMessage($event)"></Connection>
            <Sites class="size-component" :class="currentView.id === this.$store.state.ID_SITE ? '' : 'hide'" :liste-sites="sites"></Sites>
            <Map class="size-component" :class="currentView.id === this.$store.state.ID_MAP ? '' : 'hide'" :teams="teams" :sites="sites" ref="map"></Map>
            <Leaderboard class="size-component" :class="currentView.id === this.$store.state.ID_LEADERBOARD ? '' : 'hide'" :teams="teams" :bTeamsSynced="bTeamsSynced" :sites="sites" ref="leaderboard"></Leaderboard>
        </div>
    </div>

</template>

<script>
    import Menu from './components/App/Menu';
    import Map from './components/Map/Map';
    import Sites from './components/Sites/Sites';
    import Leaderboard from './components/Leaderboard/Leaderboard';
    import Connection from "./components/Connection";
    import SnackBar from "./components/App/SnackBar";
    import {db, funct} from "./config/db.js";
    import Title from "./components/App/Title";
    import Team from './components/Teams/Team';

    export default {
        components: {
            name: 'app',
            Title,
            Connection,
            Menu,
            Map,
            Sites,
            Leaderboard,
            Team,
            SnackBar
        },
        data: function () {
            return {
                currentView: this.$store.state.emptyView,
                isLoading: false,
                sUser: "",
                sToken: "",
                bIsSyncing: false,
                bTeamsSynced: false,
                bSitesSynced: false,
                teamSync: null,
                siteSync: null,
                teams: [],
                sites: []
            }
        },
        mounted() {
            if (localStorage.token && localStorage.user) {
                this.sToken = localStorage.token;
                this.sUser = localStorage.user;
                this.currentView = this.$store.getters.getView(localStorage.idView ?
                    localStorage.idView :
                    this.$store.state.ID_SITE);
                this.$store.commit('throwMessage', "Connecté !");
                this.startSync();
            }
        },
        methods: {
            disconnect: function (reason = null) {
                this.$store.commit('throwMessage', "Déconnecté !" + (reason === null ? "" : ("<br/>" + reason)));
                this.currentView = this.$store.state.emptyView;
                this.sUser = "";
                this.sToken = "";
                localStorage.removeItem("token");
                localStorage.removeItem("user");
                localStorage.removeItem("idView");
                this.stopSync();
            },
            changeView: function (newView) {
                this.currentView = newView;
            },
            connect: function (objConnection) {
                this.sUser = objConnection.user;
                this.sToken = objConnection.token;
                if (objConnection.remember) {
                    localStorage.token = objConnection.token;
                    localStorage.user = objConnection.user;
                }
                this.startSync();
                this.$store.commit('throwMessage', "Connecté !");
                this.currentView = this.$store.getters.getView(this.$store.state.ID_SITE);
            },
            isConnected: function () {
                const checkToken = funct.httpsCallable("adminCheckToken");

                return checkToken({user: this.sUser, token: this.sToken}).then((result) => {
                    if (result.data.valid) {
                        return true;
                    } else {
                        this.disconnect("Jeton invalide");
                        return false;
                    }
                });
            },
            manageChangeView(newView, oldView) {
                switch (oldView.id) {
                    case this.$store.state.ID_MAP:
                        this.$refs.map.onHide();
                        break;
                }
                switch (newView.id) {
                    case this.$store.state.ID_MAP:
                        this.$refs.map.onShow();
                        break;

                    case this.$store.state.ID_LEADERBOARD:
                        this.$refs.leaderboard.onShow();
                        break;
                }
            },
            startSync() {
                this.teamSync = db.collection("/teams").onSnapshot(docs => {
                    let data = [];
                    docs.forEach(snapshot => {
                        let object = snapshot.data();
                        object.id = snapshot.id;
                        data.push(object);
                    });
                    this.teams = data;
                    this.bTeamsSynced = true;
                });
                this.siteSync = db.collection("/sites").onSnapshot(docs => {
                    let data = [];
                    docs.forEach(snapshot => {
                        let object = snapshot.data();
                        object.id = snapshot.id;
                        data.push(object);
                    });
                    this.sites = data;
                    this.bSitesSynced = true;
                });
                this.bIsSyncing = true;
            },
            stopSync() {
                if (this.bIsSyncing) {
                    this.siteSync();
                    this.siteSync = null;
                    this.sites = [];
                    this.teamSync();
                    this.teamSync = null;
                    this.teams = [];
                    this.bIsSyncing = false;
                    this.bSitesSynced = false;
                    this.bTeamsSynced = false;
                }
            }
        },
        watch: {
            currentView: async function (view, oldView) {
                this.$store.commit('changeTitle', view.title);
                if (view.id !== 0) {
                    this.manageChangeView(view, oldView);
                    this.isLoading = true;
                    if (await this.isConnected() === false) {
                        this.currentView = this.$store.state.emptyView;
                        this.sToken = "";
                    } else {
                        localStorage.idView = view.id;
                    }
                    this.isLoading = false;
                }
            }
        }
    }
</script>

<style>
    @font-face {
        font-family: PT;
        src: url("assets/fonts/PT_Sans-Narrow-Web-Regular.ttf");
    }

    #app {
        font-family: 'PT', Helvetica, serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        height: 100%;
    }

    body {
        height: 100%;
        width: 100%;
        //overflow: auto;
    }

    #components {
        margin: auto;
        width: 98%;
        height: 100%;
        padding-top: 110px;
    }

    #header {
        position: fixed;
        height: 88px;
        width: 100%;
        z-index: 10;
        border-bottom: rgba(0, 0, 0, 0) 1px solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #b4b4b4;
        box-shadow: 0 5px 20px rgba(1, 1, 1, 0.48);
    }

    .size-component {
        height: inherit;
    }

    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 30px;
        top: 30px;
        cursor: pointer;
    }

    .block-loading {
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.29);
        z-index: 99999;
    }

    .big {
        height: 75%;
        width: 75%;
        vertical-align: middle;
    }

    .bm-menu {
        z-index: 99999; /* Stay on top */
    }

    .bm-overlay {
        background: rgba(0, 0, 0, 0);
    }

    .hide {
        display: none;
    }
</style>
