<template>
    <div id="mapComponent">
        <div id="divMap" class="columns">
            <div id="divTeams" class="column is-one-quarter">
                <Card v-for="team in startedTeams" :key="team.id" :team="team" :timer="timer[team.id]"
                      @focusOnTeam="focusOnTeam($event)"></Card>
            </div>
            <div id="map" class="column map"></div>
        </div>
    </div>
</template>

<script>
    import { L } from 'vue2-leaflet';
    import Title from "../App/Title";
    import Card from "./TeamMapCard";

    const LAT_GRENOBLE = 45.1666700;
    const LONG_GRENOBLE = 5.7166700;

    export default {
        name: "Map",
        components: {
            Title,
            Card
        },
        data() {
            return {
                LAT_GRENOBLE: LAT_GRENOBLE,
                LONG_GRENOBLE: LONG_GRENOBLE,
                intervalleTimer: null,
                map: null,
                tileLayer: null,
                teamsMarker: [],
                sitesMarker: [],
                timer: {}
            }
        },
        props: {
            teams: Array,
            sites: Array
        },
        watch: {
            teams: {
                handler: function () {
                    this.initTeams();
                    this.map.invalidateSize();
                },
                deep: true
            },
            sites: {
                handler: function () {
                    this.initSites();
                    this.map.invalidateSize();
                },
                deep: true
            }
        },
        computed: {
            startedTeams: function() {
                let readyTeams = [];

                this.teams.forEach((team) => {
                    if (team.startTime !== undefined && team.finishTime === undefined) {
                        readyTeams.push(team);
                    }
                });

                return readyTeams;
            }
        },
        mounted() {
            this.initMap();
            this.initSites();
            this.initTeams();
        },
        methods: {
            initMap() {
                this.map = L.map('map').setView([LAT_GRENOBLE, LONG_GRENOBLE], 13);
                this.tileLayer = L.tileLayer(
                    'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
                    {
                        maxZoom: 18,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>',
                    }
                );
                this.tileLayer.addTo(this.map);
            },
            onShow() {
                this.redraw();
                this.intervalleTimer = setInterval(this.calcTime, 1000);
            },
            onHide() {
                if (this.intervalleTimer !== null) {
                    clearInterval(this.intervalleTimer);
                    this.intervalleTimer = null;
                }
            },
            timestamp(time) {
                const duration = this.$moment.duration(this.$moment().diff(this.$moment(time)));

                return duration.asMilliseconds();
            },
            calcTime() {
                this.startedTeams.forEach((team) => {
                    this.timer[team.id] = this.timestamp(team.startTime.toDate());
                });
                this.$forceUpdate();
            },
            durationToString(durationInSeconds) {
                const duration = this.$moment.duration(durationInSeconds);

                return this.$store.getters.toPadding(duration.hours())+":"+this.$store.getters.toPadding(duration.minutes())+":"+this.$store.getters.toPadding(duration.seconds());
            },
            geopointToLocation(geopoint) {
                return [geopoint.latitude, geopoint.longitude];
            },
            initTeams() {
                this.removeAllTeams();

                this.startedTeams.forEach((team) => {
                    if (team.finishTime === undefined) {
                        const marker = L.circleMarker(this.geopointToLocation(team.location),
                                                        {color: team.colour});

                        marker.addTo(this.map);
                        //marker.bindTooltip(team.name, {direction: 'bottom', permanent: true}).openTooltip();
                        this.teamsMarker.push(marker);
                    }
                });
            },
            initSites() {
                this.removeAllSites();

                this.sites.forEach((site) => {
                    if (site.location !== undefined) {
                        const marker = L.marker(this.geopointToLocation(site.location));

                        marker.addTo(this.map);
                        marker.bindTooltip(site.title, {direction: 'bottom', permanent: true}).openTooltip();

                        this.sitesMarker.push(marker);
                    }
                });
            },
            removeAllTeams() {
                this.teamsMarker.forEach((marker) => {
                    this.map.removeLayer(marker);
                });

                this.teamsMarker = [];
            },
            removeAllSites() {
                this.sitesMarker.forEach((marker) => {
                    this.map.removeLayer(marker);
                });

                this.sitesMarker = [];
            },
            redraw() {
                setTimeout(() => {
                    this.map.invalidateSize();
                }, 50);
            },
            focusOnTeam(location) {
                this.map.panTo(this.geopointToLocation(location));
                setTimeout(() => {
                    this.map.setZoom(17);
                }, 300);
            }
        }
    }
</script>

<style scoped>
    @import "https://unpkg.com/leaflet@1.2.0/dist/leaflet.css";

    #mapComponent {
        height: inherit;
    }

    #divMap {
        height: inherit;
    }

    #divTeams {
        overflow-y: auto;
        user-select: none;
    }

    #map {
        width: inherit;
        height: 100%;
        z-index: 1;
    }
</style>
