<template>
    <div id="divTeamCard" class="is-medium card content" v-on:click="$emit('focusOnTeam', team.location)">
        {{ durationToString(timer) }} - {{team.name}} &nbsp <font-awesome-icon :icon="['far', 'circle']" :style="{ color: team.colour }"/>
    </div>
</template>

<script>
    export default {
        name: "TeamMapCard",
        props: {
            team: Object,
            timer: Number
        },
        methods: {
            durationToString(durationInSeconds) {
                const duration = this.$moment.duration(durationInSeconds);

                return this.$store.getters.toPadding(duration.hours())+":"+this.$store.getters.toPadding(duration.minutes())+":"+this.$store.getters.toPadding(duration.seconds());
            },
        }
    }
</script>

<style scoped>
    #divTeamCard {
        line-height: 2.15rem;
        cursor: pointer;
    }
    
    #divTeamCard:hover {
        background-color: rgba(112,112,112,0.15);
    }
</style>